#submitted {
  display: none;
}

#blanks {
  width: 50%;
  color: #EF5350;
}

#side {
  float:right;
  width:40%;
}

#infobar {
  background-color: #FFC107;
  box-shadow: 5px 5px 25px #000;
}

.jumbotron {
  background-color: #EF5350;
  box-shadow: 5px 5px 35px #000;
}

.well img {
  margin: 1%;
}

.price {
  color: green;
}

.container {
  margin-bottom: 50px;
  margin-top: 25px;
}
